<body>
{{ partial "navigation.html" . }}

<div id="content">
  <h1>{{.Title}}</h1>
  {{ dateFormat "02. January 2006" .Params.EventDate }}
  {{.Content}}
  <section class="cards">
  {{ range (readDir "content/talk") }}
    {{ with $.Site.GetPage .Name }}
      {{ if and (.Params.Name) (.Params.Origin) (eq .Params.relatedProgram $.Title ) }}
        {{ $styleAttrib := (replaceRE "[^\\d]" "" .Params.Time) }}
        {{ $styleAttrib := (replaceRE "^0{3}" "1111" $styleAttrib) }}
        {{ $styleAttrib := (replaceRE "^0{2}" "111" $styleAttrib) }}
        {{ $styleAttrib := (replaceRE "^0" "11" $styleAttrib) }}
        {{ $styleAttrib := (replaceRE "^" "style='order:" $styleAttrib) }}
        {{ $styleAttrib := (replaceRE "$" ";'" $styleAttrib) }}
        <article class="card" {{ $styleAttrib | safeHTMLAttr }}>
          <div class="card-header">
            <h3>{{.Params.Name}}</h3>
              ({{.Params.Origin}})
          </div>
          <div class="card-body">
            <div class="text-center">
              {{.Params.Time}}
              <div>
                {{ partial "resize-image.html" (dict "imgPath" .Params.Image "ctx" $) }}
              </div>
            </div>
            <strong>{{.Title}}</strong>
            {{.Content}}
          </div>
        </article>
      {{ end }}
    {{ end }}
  {{ end }}
</section>

</div>
{{ partial "footer.html" . }}
</body>
