<body>
{{ partial "navigation.html" . }}
<div id="content">
  <h1>{{.Title}}</h1>
  {{ dateFormat "02. January 2006" .Params.EventDate }}
  {{.Content}}
  <section class="cards">
  {{ range (readDir "content/talk") }}
    {{ with $.Site.GetPage .Name }}
      {{ if and (.Params.Name) (.Params.Origin) (eq .Params.relatedProgram $.Title ) }}

        {{ .Scratch.Set "orderNum" (replaceRE "[^\\d]" "" .Params.Time)}}
        {{ .Scratch.Set "orderNum" (replaceRE "^0{3}" "1111" (.Scratch.Get "orderNum")) }}
        {{ .Scratch.Set "orderNum" (replaceRE "^0{2}" "111" (.Scratch.Get "orderNum")) }}
        {{ .Scratch.Set "orderNum" (replaceRE "^0" "11" (.Scratch.Get "orderNum")) }}
        
        <article class="card" style='order: {{ .Scratch.Get "orderNum" }};'>
          <div class="text-center">
            {{.Params.Time}}
            <h3>{{.Params.Name}}</h3>
            ({{.Params.Origin}})
            <div>
              <img src="{{.Params.Image}}" alt="{{.Title}}" />
            </div>
          </div>
          <strong>{{.Title}}</strong>
          {{.Content}}
        </article>
      {{ end }}
    {{ end }}
  {{ end }}
</section>

</div>
{{ partial "footer.html" . }}
</body>
