<body>
  {{ partial "navigation.html" . }}
  <div id="content">
    <h1>{{.Title}}</h1>
    <section class="cards">
      {{ range .Pages }}
        <article class="card">
          <a href="{{.Permalink}}">
            <div class="card-header">
              {{.Title}}
            </div>
            <div class="card-body">
              {{ dateFormat "02. January 2006" .Params.EventDate }}
              {{ .Content }}
            </div>
          </a>
        </article>
      {{ end }}
    </section>
  </div>
  {{ partial "footer.html" . }}
</body>
