footer {
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    bottom: 0;
    color: #898f9c;
    position: absolute;
    align-items: flex-start;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 50px;
    margin-top: 60px;
    min-height: 250px;
    font-size: .85rem;

    a {
      color: #898f9c;
    }
  
    img {
      display: inline-block;
      margin: 0px 10px;
    }

    .column {
      margin: 0 10px;
      border: 0px solid red;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }
  }