footer {
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    bottom: 0;
    color: $footer-color;
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 60px;
    min-height: 250px;
    font-size: .85rem;

    .footer-row {
      display: flex;
      width: 100%;
      max-width: 1440px;
      padding: 50px 120px;
      margin: auto;

      @media screen and (max-width: $breakpoint-lg) {
        padding: 50px;
      }

      @media screen and (max-width: $breakpoint-sm) {
        padding: 20px;
      }

      .column {
        margin: 0 10px;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
      }

      a {
        color: $footer-color;
      }
    
      img {
        display: inline-block;
        margin: 0px 10px;
      }
    }
  }