.nav {
  transition: background-color .3s ease-in-out,border-color .3s ease-in-out;
  background-color: #FFF;
  border-bottom: 1px solid #bfbfbf;
  color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  nav {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: #{$navigation-height};

    .header-logo img {
      filter: none;
    }

    .nav-links {
      list-style: none;
      display: flex;
      align-items: center;

      @media screen and (max-width: $breakpoint-xs) {
        display: none;
      }

      a {
        display: inline-block;
        text-decoration: none;

        li {
          margin: 0px 20px;
          color: #000;
          border-bottom: 1px solid transparent;

          &:hover,
          &.active {
            border-color: inherit;
            padding: 5px 0px;
          }
        }
      }
    }

    .nav-left {
      display: flex;

      .header-logo {
        margin-right: 20px;
      }
    }
  }
}

body.hero .nav {
  background-color: transparent;
  border-bottom: 1px solid transparent;

  .header-logo img {
    filter: invert(1);
  }

  a li {
    color: #FFF;
  }
}

body.hero.scroll .nav {
  background-color: #fff;
  border-bottom: 1px solid #bfbfbf;

  .header-logo img {
    filter: none;
  }

  a li {
    color: #000;
  }
}