$fa-font-path: "../font/webfonts";

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$navigation-height: 80px;

$primary-color: #09003d;
$primary-color: #09003d18;
$hero-color: #fff;
$footer-color: #898f9c;