@import "_variables.scss";
@import "fontawesome/fontawesome.scss";

@import "_reset.scss";
@import "_navigation.scss";
@import "_style.scss";
@import "_footer.scss";

@font-face {
  font-family: 'FiraSans';
  src: url('../font/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../font/FiraSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../font/FiraSans-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
  height: 100%;
}

body {
  background-color: #fff !important;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, rgb(252, 70, 107), rgb(63, 94, 251)) repeat scroll
    0% 0%;
  background-repeat: no-repeat;
  font-family: 'FiraSans', system-ui, sans-serif;
  position: absolute;
  top: 80px;
}

#greeter {
  color: $greeter-color;
  display: flex;
  font-weight: lighter;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 8vw;
    font-weight: normal;
  }

  h2 {
    font-size: 5vw;
    font-weight: lighter;
  }

  h3 {
    font-size: 2vw;
    font-weight: lighter;
  }

  a {
    color: $greeter-color;
  }

  hr {
    color: $greeter-color;
    width: 20%;
    opacity: 0.3;
  }

  @media only screen and (max-width: $breakpoint-xs) {
    h2 {
      font-size: 6vw;
    }

    h3 {
      font-size: 4vw;
    }
  }
}
