<footer>
  <div class="column">
    <p>
      <strong>Nacht der Wissenschaft Siegen</strong>
    </p>
    <p>
      Eine Veranstaltung der Studentischen Initiative für
      Wissenschaftskommunikation.<br />Kurz: WissKomm
    </p>
    <p>
      <a href="http://www.wisskomm.org" target="_blank">www.wisskomm.org</a>
    </p>
    <p>
      <a href='{{ "legal" | absURL }}'>Impressum</a> | <a href='{{ "privacy" | absURL }}'>Datenschutzerklärung</a>
    </p>
  </div>
  <div class="column">
    <p>
      <a href="https://www.facebook.com/ndwsiegen/" target="_blank"><img src='{{ "img/facebook_g.png" | absURL }}' width="50px" /></a>
      <a href="https://www.instagram.com/nacht_der_wissenschaft_siegen/" target="_blank"><img src='{{ "img/instagram_g.png" | absURL }}' width="50px" /></a>
    </p>
  </div>
</footer>

<script src='{{ "js/ndws.js" | absURL }}'></script>