<footer>
  <div class="column">
    <strong>Nacht der Wissenschaft Siegen</strong>
    <p>
      Eine Veranstaltung der Studentischen Initiative für
      Wissenschaftskommunikation.<br />Kurz: WissKomm
    </p>
    <p>
      <a href="http://www.wisskomm.org" target="_blank">www.wisskomm.org</a>
    </p>
  </div>
  <div class="column">
    <a href="{{ .Site.BaseURL }}impressum">Impressum</a>
    <a href="{{ .Site.BaseURL }}privacy">Datenschutzerklärung</a>
  </div>
</footer>
<script src="{{ .Site.BaseURL }}js/ndws.js"></script>