<div class="nav">
    <nav>
      <div class="nav-left">
        <a href="{{ .Site.BaseURL }}" class="header-logo">
          <img src="{{ .Site.BaseURL }}/img/head.svg" width="50" height="50" />
        </a>
        <ul class="nav-links">
          <a href="#"><li>Programm</li></a>
          <a href="#"><li>Impressionen</li></a>
        </ul>
      </div>
      <div class="nav-right">
        <ul class="nav-links">
          <a href="{{ .Site.BaseURL }}contact"><li>Kontakt / Anfahrt</li></a>
        </ul>
      </div>
    </nav>
  </div>