<div class="nav">
    <nav>
      <div class="nav-left">
        <a href='{{ "" | absURL }}' class="header-logo">
          <img src='{{ "img/head.svg" | absURL }}' width="50" height="50" />
        </a>
        <ul class="nav-links">
          {{ range $.Site.Data.mainmenu.items }}
            <a href='{{ .path | absURL }}'>
              {{ $active := (eq ($.Site.GetPage .path) $.Page) }}
              {{ $active = or $active (and (eq (($.Site.GetPage .path).Section) $.Section) (not (eq $.Section "")))}}
              {{ if $active }}
                <li class="active">{{ .text }}</li>
              {{ else }}
                <li>{{ .text }}</li>
              {{ end }}
            </a>
          {{ end }}
        </ul>
      </div>
      <div class="nav-right">
        <ul class="nav-links">
          <a href='{{ "contact" | absURL }}'><li>Kontakt / Anfahrt</li></a>
        </ul>
      </div>
    </nav>
  </div>