{{ $page := (.ctx.Site.GetPage "content" "media") }}
{{ with $page }}
    {{ $resources := .Resources.ByType "image"}}
    {{ range $resources }}
        {{ with . }}
            {{ $abs := (replaceRE "$" $.imgPath $.ctx.Site.BaseURL) }}
            {{ $abs := (replaceRE "://" ":///" $abs) }}
            {{ $abs := (replaceRE "//" "/" $abs) }}
            {{ if eq $abs .Permalink }}
                <img src='{{ (.Resize "500x").RelPermalink }}' />
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}